<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", 
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(href="dist/style.css", rel="stylesheet")
  title How's this tweeter doing?
body
  .content
    //- form(action="").message-box
    //-     input(placeholder="@twitter_handle", autocomplete="off", maxlength="140")#text-box
    //-     button.send.btn stalk
    //- h1 ???
    //- p.result loading...
    h1 Enter a name to get started
    form
      .input-group
        span(class="input-group-addon" id="basic-addon1") @
        input(type="text" class="form-control" id="text-box" placeholder="username" autocomplete="off")
        span(class="input-group-btn")
          button(class="btn btn-default" type="button") stalk
    div#results

  script(src="https://code.jquery.com/jquery-3.1.0.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js")
  script(id="result-template", type="x-tmpl-mustache").
    <div class="feeling panel panel-default">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{{  profileImage  }}" alt="{{ userName }}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">how is {{ userName }} feeling?</h4>
          {{ tone }}
        </div>
      </div>
    </div>
  script(src="dist/main.js")
