body,
html {
  height: 100vh;
  width: 100vw;
  background-color: lighten($color: cornflowerblue, $amount: 30%);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 73%;
  margin: auto;
}

#results {
  overflow-y: hide;
  max-height: 73%;
}

.feeling {
  margin-bottom: 0;
  margin-top: 5px;
  padding: 5px;
}

.footer {
  width: 73%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: gray;
}

@media (max-width: 900px) {
  .footer {
    width: 93%;
  }
  .content {
    width: 93%;
  }
}